html {
    min-width: 100vw;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    background-color: black;
    color: white;
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main{
    padding: 0;
    margin: 0;
    min-height: 60vh;
    max-width: 100%;
}