.main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 60vh;
    padding: 20px;
    width: 100%;
    margin: 0 auto;

    .vagas-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #313131;
        max-width: 90%;
        height: auto;
        gap: 50px;
        margin-top: 20px;
        padding: 40px;
        padding-top: 80px;
        border-radius: 8px;

        h2{
            position: absolute;
            top: 380px;
        }

        .vaga-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            min-width: 400px;
            max-width: 400px;
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 0;
            box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 1);

            transition: all ease-in-out 0.3s;

            &:hover{
                transform: scale(105%) translateY(-5px);
            }

            .titulo {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 0 0 10px 0;
                border-radius: 8px 8px 0px 0px;
                color: #333;
                width: 100%;
                height: 35px;
                background-color: #c7c7c7;
            }

            .info{
                display: flex;
                justify-content: center;
                align-items: start;
                flex-direction: column;
                white-space: normal;
                word-break: break-all;
                text-align: start;
                gap: 15px;
                padding: 0px 20px 20px 20px;
                margin: 0px 20px 20px 20px;
                width: 100%;
                p {
                    margin: 0px 0px 0px 15px;
                    color: #666;
                }

                strong {
                    color: #333;
                }
            }
        }
    }

    .pre-input{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        width: 100%;
        gap: 1.8rem;

        .input{
            font-size: 18px;
            background-color: #111;
            border: 1px solid #333;
            border-radius: 20px;
            width: 80%;
            height: 30px;
            padding: 0.6rem 1rem;
            color: white;
            transition: all 0.3s ease-in-out;
        
            &::placeholder {
                color: #aaa;
            }
        
            &:focus {
                border-color: #0ff;
                outline: none;
                box-shadow: 0 0 5px rgba(0, 255, 255, 0.5);
            }
        
            &:hover {
                border-color: #08c;
            }
        }

        .btn-postarVagas{
            margin-top: 1rem;
            margin-bottom: 2rem;
            background-color: #0ff;
            color: black;
            border: none;
            border-radius: 25px;
            height: 40px;
            width: 25%;
            padding: 0;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
                text-decoration: underline;
                background-color: #08c;
                color: white;
            }
        }
    }

    .btn-showForm{
        margin-top: 1rem;
        margin-bottom: 2rem;
        background-color: #0ff;
        color: black;
        border: none;
        border-radius: 25px;
        height: 40px;
        width: 25%;
        padding: 0;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            text-decoration: underline;
            background-color: #08c;
            color: white;
        }
    }
}
