.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .apresentação {

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction:column;
  }

  .butao {
    display: inline-block;
    position: relative;
    overflow: hidden;
    background-color: rgb(15, 15, 15);
    color: white;
    border: none;
    padding: 10px 25px;
    font-weight: 900;
    font-size: 1.1rem;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 25px;
    text-decoration: none;
    transition: background-color 0.4s ease, transform 0.4s ease;

    &:hover {
      background: linear-gradient(
        to right,
        rgb(20, 20, 20),
        rgb(40, 40, 40),
        rgb(51, 51, 51)
      );
      transform: translateY(-2px) scale(1.1);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(
        120deg,
        transparent 0%,
        rgba(255, 255, 255, 0.6) 50%,
        transparent 100%
      );
      transform: translateX(-100%);
      opacity: 0;
      z-index: 0;
      transition: transform 0.3s ease-in-out, opacity 0.3s ease;
    }

    &:hover::before {
      transform: translateX(100%);
      opacity: 1;
    }

    &.logged{
      display: none;
    }
  }
}
