.Footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    min-height: 60px;


    bottom: 0;
    left: 0;

    .info2{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;

        width: 100%;

        .social{

        }
    }
    
}