.admin-register-main {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.admin-register-main h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.admin-register-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pre-input {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.pre-input button{
  color: #696969;
  font-size: 18px;
  margin-right: 20px;
}

.pre-input input {
  padding: 12px;
  border: 1px solid #be4242;
  border-radius: 4px;
  font-size: 16px;
  width: 96%;
  transition: border-color 0.3s;
}

.pre-input input:focus {
  outline: none;
  border-color: #007bff;
}

.butão-submit {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.butão-submit:hover {
  background-color: #0aa5c0;
}

@media (max-width: 768px) {
  .admin-register-main {
    margin: 20px;
    padding: 15px;
  }

  .admin-register-main h2 {
    font-size: 24px;
  }

  .pre-input input {
    font-size: 14px;
    padding: 10px;
  }

  .butão-submit {
    font-size: 14px;
    padding: 10px;
  }
}
