.About{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
    width: 100%;

    h1{
        margin-top: 70px;
        color: #e9e9e9;
    }

    .info{
        font-size: 20px;
        border-bottom: 3px dotted cyan;
        max-width: 90%;
        min-height: 100px;
        
        p{
            color: #d3d3d3;
            line-height: 1.8;
            text-align: justify;
            overflow-wrap: break-word;
        }
    }

    .info2{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 200px;
        margin-top: 100px;
        
        .missoes{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: justify;
            font-size:18px;

            min-height: 410px;
            width: 700px;

            h2{
                border-bottom: 3px dotted cyan;
                color: #e9e9e9;
            }

            ul{
                display: flex;
                flex-direction: column;
                gap:20px;

                li{
                    color: #d3d3d3;
                }
            }
            
        }
        .normas{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: justify;
            font-size:18px;

            min-height: 410px;
            width: 500px;

            h2{
                border-bottom: 3px dotted cyan;
                color: #e9e9e9;
            }

            ul{
                display: flex;
                flex-direction: column;
                gap: 41px;

                li{
                    color: #d3d3d3;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .About{
        h1{
            margin-top: 40px;
            font-size: 24px;
        }

        .info{
            font-size: 20px;
            border-bottom: 3px dotted cyan;
            max-width: 90%;
            min-height: 100px;
            
            p{
                line-height: 1.5;
                font-size: 16px;
            }
        }

        .info2{
            flex-direction: column;
            max-width: 100%;
            gap: 0;
            margin-top: 50px;
            
            .missoes{
                width: 90%;

                h2{
                    font-size: 22px;
                }

                ul{
                    li{
                        font-size: 16px;
                    }
                }
            }
            .normas{
                width: 90%;

                h2{
                    font-size: 22px;
                }

                ul{
                    li{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}