.intro, .questionario {
  transition: opacity 0.4s ease-in-out;
}

.intro {
  opacity: 1;
}

.form button.vamos-la {
  background-color: cyan;
  color: black;
  padding: 10px 25px;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.form button.vamos-la:hover {
  background-color: #00bcd4;
}
